extends ../layout/index
    
block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-indigo-400 Bienes
            span.font-normal.text-black Raíces 
        h2.text-center.text-2xl.font-normal.text-black= pagina

    .mt-8.mx-auto.max-w-xl.pb-5
        .bg-with.py-8.px-4.shadow-2xl.rounded-2xl
            form.space-y-5    
                div.px-5
                    
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="emailUsuario") Correo electronico:
                    input#emailUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(placeholder="p.e.: usuario@dominio.com" 
                    name="emailUsuario" type="email")

                div.px-5

                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="passwordUsuario") Contraseña:
                    input#passwordUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(placeholder="Por lo menos 8 caracteres" 
                    name="passwordUsuario" type="password")

                    //- activar el ojito para para poder ver la contraseña
                    div.px-5.flex.items-center.gap-2.mt-1
                    input#verP1(type="checkbox" class="cursor-pointer" onclick="document.getElementById('passwordUsuario').type = this.checked ? 'text' : 'password'")
                    label.text-xs.text-gray-500.cursor-pointer(for="verP1") Mostrar contraseña    
                    

                input(class="w-full bg-purple-600 text-white hover:bg-purple-700 font-bold py-3 cursor-pointer shadow-lg hover:shadow-xl uppercase rounded-2xl transition-all duration-300" type="submit" value="Iniciar Sesión")
                
                div.flex.items-center.justify-between.pt-2.px-5
                    a(class="text-sm text-gray-500 hover:underline hover:text-purple-600" href="/auth/registro") ¿No tienes cuenta? Regístrate
                    a(class="text-sm text-gray-500 hover:underline hover:text-purple-600" href="/auth/recuperar") Olvidé mi contraseña

    footer.text-gray-500.py-6.mt-10
        .max-w-7xl.mx-auto.text-center.text-sm
            p © 2026 Jonhy Neri Hernández - 240558
                    