extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-purple-600 Bienes
            span.font-normal.text-black Raíces 
        h2.text-center.text-2xl.font-normal.text-black= pagina

        if errores
            div.max-w-md.mx-auto.my-10
                each error in errores
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

    .mt-8.mx-auto.max-w-xl.pb-5
        .bg-with.py-8.px-4.shadow-2xl.rounded-2xl
            form.space-y-5(method="POST" action="/auth/registro" noValidate) 
                div.px-5
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombreUsuario") Nombre Completo:
                    input#nombreUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(placeholder="P.e: Jonhy Neri Hernandez" name="nombreUsuario" value= usuario ? usuario.nombreUsuario: '' type="text")
                div.px-5
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="correoUsuario") Correo Electrónico:
                    input#emailUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(placeholder="P.e: usuario@gmail.com" name="emailUsuario" value= usuario ? usuario.emailUsuario: '' type="email")  

                div.px-5

                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="passwordUsuario") Contraseña:
                    input#passwordUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(placeholder="Por lo menos 8 caracteres" 
                    name="passwordUsuario" type="password")

                div.px-5.flex.items-center.gap-2.mt-1
                    input#verP1(type="checkbox" class="cursor-pointer" onclick="document.getElementById('passwordUsuario').type = this.checked ? 'text' : 'password'")
                    label.text-xs.text-gray-500.cursor-pointer(for="verP1") Mostrar contraseña

                    //- activar el ojito para para poder ver la contraseña

                div.px-5

                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="confirmUsuario") Confirmar contraseña:
                    input#confirmUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(placeholder="Repite la contraseña anterior" 
                    name="confirmUsuario" type="password")

                div.px-5.flex.items-center.gap-2.mt-1
                    input#verP1(type="checkbox" class="cursor-pointer" onclick="document.getElementById('confirmdUsuario').type = this.checked ? 'text' : 'password'")
                    label.text-xs.text-gray-500.cursor-pointer(for="verP1") Mostrar contraseña


                input(class="w-full bg-purple-600 hover:bg-purple-400 hover:transition text-white hover:text-white font-bold py-3 cursor-pointer shadow-lg rounded-4xl uppercase" type="submit" value="Registrar Usuario")

                div.flex.items-center.justify-between.pt-3
                    a(class="text-gray-500 text-sm hover:decoration-purple-600 hover:underline transition decoration-2" href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                    a(class="text-gray-500 text-sm hover:decoration-purple-600 hover:underline transition decoration-2" href="/auth/recuperar") ¿Olvidaste tu contraseña? Recuperar contraseña